div#representations {
    width: 100%;
    margin: auto;
}

div#phenobar {
  float: left;
}

div#chart {
  float: left;
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 1000px;                  
  height:10px;                 
  padding: 10px;             
  font: 8px sans-serif;                
  pointer-events: none;
  opacity: 0;         
}

.node, .rootPheno {
  cursor: pointer;
}

.node text { 
  font: 10px sans-serif;
}

.treenode {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

