body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 1060px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}


div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 440px;                  
  height:240px;                 
  padding: 10px;             
  font: 14px sans-serif;        
  background: white;   
  border: 2px;      
  border-radius: 8px;
  border-style: solid;           
  pointer-events: none;         
}

#pubmedsearchbtn {
  padding: 2px;
  margin-right: 20px;
}

#interactionpanel {
  margin-bottom: 10px;
}

#pubmedsearchbtn{
  padding: 5px;
}